<div class="container">
  <div class="row mt-2">
    <div class="col-12 text-center">
      <img src="../img/johan.jpeg" alt="johan.jpg" class="img-thumbnail rounded-circle" width="200px" />
      <h1 class="display-4">Johan Krisbima Abi</h1>
      <p class="lead">Mahasiswa Politeknik Negeri Jember</p>
    </div>
  </div>
</div>
